<nav>
	<ul class="topnav">
		<li><a class='logo_home' href="/">Koala</a></li>
	  <li><a href="/questions">My Questions</a></li>
	  <li><a href="/answers">My Answers</a></li>
	  <li><a href="/users/<%=current_user.id%>">My Profile</a></li>
	  <li class='right'><a href="/logout">Logout</a></li>
	</ul>
</nav>

<div class="stage">

<div class='section'>

<h2>My Profile </h2>
<p>Email: <%=@user.email %></p>

<p><a href="/users/<%=@user.id%>/edit">Edit profile</a></p>

<form method=post action=/users/<%=@user.id%>/delete >
	<!-- this line below is Important -->
	<input id="hidden" type="hidden" name="_method" value="delete">
	<input type=submit value="Delete Account">
</form>


</div> <!-- end of section -->
</div> <!-- end of stage -->