

<h2>Sign up for an account!</h2>

<% if @new_user.nil?%>

<form method=post action=/users>
	<input type=text placeholder="Full Name" name="user[fullname]" required><br>
	<input type=text placeholder="Username" name="user[username]" required><br>
	<input type=text placeholder="Email" name="user[email]" required><br>
	<input type=password placeholder="Password" name="user[password]" required></br>
	<input type=submit value="Sign up">
</form>

<% else %>
	<p> Username:<%=@new_user.username%> has created an account with email:<%=@new_user.email %> </p>
<% end %>


<p><a href='/'>Back to Index</a></p>