<html>
	<head>
		<title>Sinatra Framework</title>

		<link rel="stylesheet" type="text/css" href="/css/application.css">
		<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css">

		<script src="/js/jquery-3.1.1.min.js"></script>
		<script src="/js/jquery-ui.min.js"></script>
		<script src="/js/application.js"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	</head>
	<body>
		<%= yield %>
	</body>
</html>